<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="../static/Fragments/head.html :: head">
        <title id="pageTitle">HappiestDay.Com</title>
    </head>


    <body>
        <div class="navigation" th:include="../static/fragments/navbar.html"></div>
    
        <header class="header" id="home">
            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class = "heading-primary-main">We're getting married!</span>
                    <span class = "heading-primary-sub">Share our day with us</span>
                </h1>

                <a href="#section-rsvp" class = "btn btn-white btn-animated">RSVP</a>
            </div>
            
        </header>

        <main>
            
            <section class="section-about" id="section-about">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                            Information about the day
                    </h2>
                </div>
                <div class="row">
                    <div class="col-1-of-2">
                        <h3 class="heading-tertiary u-margin-bottom-small">When and where</h3>
                        <p class="paragraph">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, soluta at? Aspernatur, alias nisi quibusdam nobis veritatis animi est voluptatum, maiores tenetur quaerat, dolorum tempora adipisci placeat quidem cum sapiente!
                        </p>

                        <h3 class="heading-tertiary u-margin-bottom-small">Acommodation and logistics</h3>
                        <p class="paragraph">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta fugit dicta nisi beatae quae, laudantium, voluptatum et ipsam incidunt vel possimus modi dolores aliquid, neque maiores fugiat. Doloribus, consectetur mollitia.
                        </p>
                    </div>
                    <div class="col-1-of-2">
                        <div class="composition">
                            <img src="img/gettingmarried2.jpg" alt="Photo1" class="composition__photo composition__photo--p1">
                            <img src="img/gettingmarried4.jpg" alt="Photo2" class="composition__photo composition__photo--p2">
                            <img src="img/gettingmarried5.jpg" alt="Photo3" class="composition__photo composition__photo--p3">
                        </div>
                    </div>
                </div>
            </section>


            <section class="section-registry" id="section-registry">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                            Our wedding registry
                    </h2>
                </div>
                <div class="row">
                    <div class="col-1-of-3">
                        <div class="card">
                            
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture" style="background-image: url(https://c1.neweggimages.com/NeweggImage/ProductImage/AFSW_1_201802091424519518.jpg)">
                                    
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--1">Espresso Machine</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>We'd like <span>2</span> of these</li>
                                        <li><div>This is how bad we want it</div>
                                            <div class="desire-scale-box" data-progress-percent="25">
                                            <span class="desire-scale-fill" style="width: 70%">
                                                    &nbsp;
                                            </span>
                                        </div></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-1">
                                <div class="card__cta-1">
                                    <a href="#" class="btn btn-white">Buy</a>
                                </div>
                                <div class="card__cta-2">
                                    <a href="#" class="btn btn-primary-light">Mark as bought</a>
                                </div>
                                <div class="card__cta-3">
                                    <a href="#" class="btn btn-primary-dark">Remove from registry</a>
                                </div>
                                <div class="card__cta-4">
                                    <a href="#" class="btn btn-primary-dark">Edit registry</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-of-3">
                        <div class="card">

                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture" style="background-image: url(https://www.swissgear.com/media/catalog/product/s/w/swissgear-7208-24-inch-luggage-blue-spinner-front_1.jpg)">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--2">Swissgear Spinner Luggage</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>We'd like <span>2</span> of these</li>
                                        <li><div>This is how bad we want it</div>
                                            <div class="desire-scale-box" data-progress-percent="25">
                                            <span class="desire-scale-fill" style="width: 70%">
                                                    &nbsp;
                                            </span>
                                        </div></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-2">
                                <div class="card__cta-1">
                                    <a href="#" class="btn btn-white">Buy</a>
                                </div>
                                <div class="card__cta-2">
                                    <a href="#" class="btn btn-primary-light">Mark as bought</a>
                                </div>
                                <div class="card__cta-3">
                                    <a href="#" class="btn btn-primary-dark">Remove from registry</a>
                                </div>
                                <div class="card__cta-4">
                                    <a href="#" class="btn btn-primary-dark">Edit registry</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture" style = "background-image: url(https://www.williams-sonoma.com/wsimgs/rk/images/dp/wcm/201849/0122/all-clad-deluxe-slow-cooker-with-cast-aluminum-insert-4-qt-c.jpg)">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--3">Slow cooker</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>We'd like <span>2</span> of these</li>
                                        <li><div>This is how bad we want it</div>
                                            <div class="desire-scale-box" data-progress-percent="25">
                                            <span class="desire-scale-fill" style="width: 70%">
                                                    &nbsp;
                                            </span>
                                        </div></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-3">
                                <div class="card__cta-1">
                                    <a href="#" class="btn btn-white">Buy</a>
                                </div>
                                <div class="card__cta-2">
                                    <a href="#" class="btn btn-primary-light">Mark as bought</a>
                                </div>
                                <div class="card__cta-3">
                                    <a href="#" class="btn btn-primary-dark">Remove from registry</a>
                                </div>
                                <div class="card__cta-4">
                                    <a href="#" class="btn btn-primary-dark">Edit registry</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-center-text u-margin-bottom-big">
                    <a href="#popup-add" class="btn btn-primary">Add another item</a>
                </div>
                <div class="u-center-text u-margin-bottom-big">
                    <a href="#popup-registry-list" class="btn btn-primary">View list</a>
                </div>
            </section>


            <section class="section-rsvp" id="section-rsvp">
                <div class="row">
                    <div class="rsvp">
                        <div class="rsvp__form">
                            <form action="#" th:action="@{/attendee}" th:object="${attendee}" method="post" class="form">
                                    <div class="u-margin-bottom-small">
                                        <h2 class="heading-secondary">
                                            Let us know if you're coming!
                                        </h2>
                                    </div>
                                <div class="form__group">
                                    <input type="text" class="form__input" placeholder="Full name" id="name" th:field="*{name}" required>
                                    <label for="name" class="form__label">Full name</label>
                                </div>
                                <div class="form__group">
                                    <input type="text" class="form__input" placeholder="Guest name" id="guest" th:field="*{guestName}">
                                    <label for="guest" class="form__label">Guest name</label>
                                </div>
                                <div class="form__group">
                                    <input type="email" class="form__input" placeholder="Email address" id="email" th:field="*{email}" required>
                                    <label for="email" class="form__label">Email address</label>
                                </div>
                                <div class="form__group">
                                    <input type="text" class="form__input" placeholder="Message" id="message" th:field="*{message}">
                                    <label for="message" class="form__label">Message</label>
                                </div>


                                <div class="form__group u-margin-bottom-small">
                                    <div class="form__radio-group-1">
                                        <input type="radio" class="form__radio-input-1" id="yes" name="attendance" th:field="*{isAttending}" value="true">
                                        <label for="true" class="form__radio-label-1">
                                            <span class="form__radio-button-1"></span>
                                            Attending
                                        </label>
                                    </div>

                                    <div class="form__radio-group">
                                        <input type="radio" class="form__radio-input-1" id="no" name="attendance" th:field="*{isAttending}" value="false">
                                        <label for="false" class="form__radio-label-1">
                                            <span class="form__radio-button-1"></span>
                                            Not Attending
                                        </label>
                                    </div>
                                </div>

                                
                                <div class="form__group u-margin-bottom-small">
                                    <div class="form__radio-group">
                                        <input type="radio" class="form__radio-input-2" id="vegetarian" name="meal" th:field="*{mealSelection}" value="1">
                                        <label for="vegetarian" class="form__radio-label-2">
                                            <span class="form__radio-button-2"></span>
                                            Vegetarian
                                        </label>
                                    </div>


                                    <div class="form__radio-group">
                                        <input type="radio" class="form__radio-input-2" id="none-vegetarian" name="meal" th:field="*{mealSelection}" value="2">
                                        <label for="none-vegetarian" class="form__radio-label-2">
                                            <span class="form__radio-button-2"></span>
                                            None-Vegetarian
                                        </label>
                                    </div>

                                </div>


                                <div class="form__group">
                                    <button href="#popup-confirm" class="btn btn-primary btn-animated" type="submit">Submit</button>
                                </div>
                                <div class="form__group">
                                    <a href="#popup-attendees-list" class = "btn btn-primary btn-animated">View list of attendees</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        
        <footer class="footer" th:include="../static/Fragments/footer.html"></footer>

        <div class="popup" id="popup-add">
            <div class="popup__content">
                <div class="popup__left">
                    <img src="img/weddingpresent2.png" alt="Tour photo" class="popup__img">
                    <img src="img/weddingpresent1.jpg" alt="Tour photo" class="popup__img">
                </div>
                <div class="popup__right">
                    <a href="#section-registry" class="popup__close">&times;</a>
                    <div class="new-item__form">
                        <form action="#" class="form">
                                <div class="u-margin-bottom-small">
                                    <h2 class="heading-secondary">
                                        Add a new item
                                    </h2>
                                </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Item name" id="name" required>
                                <label for="name" class="form__label">Item name</label>
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Link to item" id="url" required>
                                <label for="url" class="form__label">Link to item</label>
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Link to item image" id="image-url" required>
                                <label for="image-url" class="form__label">Link to item image</label>
                            </div>

                            <div class="form__group">
                                <input type="number" class="form__input" placeholder="Quantity required" id="quantity" required>
                                <label for="quantity" class="form__label">Quantity required</label>
                            </div>

                            <div class="form__group">
                                <input type="number" class="form__input" placeholder="Desire scale" id="desire" required>
                                <label for="desire" class="form__label">Desire scale (1- 5)</label>
                            </div>
    
                            <div class="form__group">
                                    <a href="#" class="btn btn-primary">Add item</a>
                            </div>

                            
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="popup" id="popup-confirm">
                <div class="popup__content">
                    <div class="popup__left">
                        <img src="img/see-you-soon.png" alt="Tour photo" class="popup__img">
                    </div>
                    <div class="popup__right">
                        <a href="#section-home" class="popup__close">&times;</a>
                        <div class="new-item__form">
                            <form action="#" class="form">
                                    <div class="u-margin-bottom-small">
                                        <h2 class="heading-secondary">
                                            Thanks for letting us know! We look forward to seeing you soon.
                                        </h2>
                                    </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>

        <div class="popup" id="popup-registry-list">
            <div class="popup__content">
                <div class="popup__all">
                    <a href="#section-home" class="popup__close">&times;</a>
                    <div class="new-item__form">
                        <form action="#" class="form">
                                <div class="u-margin-bottom-small">
                                    <h2 class="heading-secondary">
                                        Here goes the list
                                    </h2>
                                    <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms before booking</h3>
                                    <p class="popup__list">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Sed sed risus pretium quam. Aliquam sem et tortor consequat id. Volutpat odio facilisis mauris sit
                                        amet massa vitae. Mi bibendum neque egestas congue. Placerat orci nulla pellentesque dignissim enim
                                        sit. Vitae semper quis lectus nulla at volutpat diam ut venenatis. Malesuada pellentesque elit eget
                                        gravida cum sociis natoque penatibus et. Proin fermentum leo vel orci porta non pulvinar neque laoreet.
                                        Gravida neque convallis a cras semper. Molestie at elementum eu facilisis sed odio morbi quis. Faucibus
                                        vitae aliquet nec ullamcorper sit amet risus nullam eget. Nam libero justo laoreet sit. Amet massa
                                        vitae tortor condimentum lacinia quis vel eros donec. Sit amet facilisis magna etiam. Imperdiet sed
                                        euismod nisi porta.
                                    </p>
                                </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="popup" id="popup-attendees-list">
            <div class="popup__content">
                <div class="popup__all">
                    <a href="#section-home" class="popup__close">&times;</a>
                    <div class="new-item__form">
                        <form action="#" class="form">
                                <div class="u-margin-bottom-small">
                                    <h2 class="heading-secondary">
                                        Here goes the list
                                    </h2>
                                    <table>
									    <tr>
									        <th>Name</th>
									        <th>Guest Name</th>
									        <th>Attending?</th>
									        <th>Email</th>
									        <th>Meal Selection</th>
									        <th>Message</th>
									    </tr>
									    <tr th:each = "attendee: ${attendees}">
									        <td th:text="${attendee.name}"></td>
									        <td th:text="${attendee.guestName}"></td>
									        <td th:text="${attendee.isAttending}"></td>
									        <td th:text="${attendee.email}"></td>
									        <td th:text="${attendee.mealSelection}"></td>
									        <td th:text="${attendee.message}"></td>
									    </tr>
									</table>
                                </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

    </body>
</html>
