<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="../static/fragments/head.html :: head">
        <title id="pageTitle">HappiestDay.Com</title>
    </head>

    <body>
    	<div class="navigation" th:include="../static/fragments/navbar.html"></div>

        <section class="section-rsvp" id="section-rsvp">
                <div class="row">
                    <div class="rsvp">
                        <div class="rsvp__form">
                            <form action="#" th:action="@{/rsvp}" th:object="${attendee}" method="post" class="form">
                                    <div class="u-margin-bottom-small">
                                        <h2 class="heading-secondary">
                                            Let us know if you're coming!
                                        </h2>
                                    </div>
                                <div class="form__group">
                                    <input type="text" class="form__input" placeholder="Full name" id="name" th:field="*{name}" required>
                                    <label for="name" class="form__label">Full name</label>
                                </div>
                                <div class="form__group">
                                    <input type="text" class="form__input" placeholder="Guest name" id="guest" th:field="*{guestName}">
                                    <label for="guest" class="form__label">Guest name</label>
                                </div>
                                <div class="form__group">
                                    <input type="email" class="form__input" placeholder="Email address" id="email" th:field="*{email}" required>
                                    <label for="email" class="form__label">Email address</label>
                                </div>
                                <div class="form__group">
                                    <input type="text" class="form__input" placeholder="Message" id="message" th:field="*{message}">
                                    <label for="message" class="form__label">Message</label>
                                </div>
                                <div class="form__group">
                                    <div class="form__radio-group">
                                        <input th:field="*{isAttending}" th:value="1" type="radio" class="form__radio-input" id="yes" name="attendance">
                                        <label for="yes" class="form__radio-label" style="font-family: 'Lato', sans-serif;font-weight: 400;line-height: 1.7;color: #777;font-size: 1.6rem;">
                                            Attending
                                        </label>
                                    </div>
                                    <div class="form__radio-group">
                                        <input th:field="*{isAttending}" th:value="0" type="radio" class="form__radio-input" id="no" name="attendance">
                                        <label for="no" class="form__radio-label" style="font-family: 'Lato', sans-serif;font-weight: 400;line-height: 1.7;color: #777;font-size: 1.6rem;">
                                            Not Attending
                                        </label>
                                    </div>
                                </div>

                                <div class="form__group">
                                    <button href="#popup-confirm" class="btn btn-primary btn-animated" type="submit" style="margin-left:5rem;">Submit</button>
                                </div>
                                <div class="form__group">
                                    <a href="#popup-attendees-list" class = "btn btn-primary btn-animated" style="margin-left:5rem;">View list of attendees</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <footer th:include="../static/fragments/footer.html"></footer>

        <div class="popup" id="popup-confirm">
                <div class="popup__content">
                    <div class="popup__left">
                        <img src="img/see-you-soon.png" alt="Tour photo" class="popup__img">
                    </div>
                    <div class="popup__right">
                        <a href="#section-home" class="popup__close">&times;</a>
                        <div class="new-item__form">
                            <form action="#" class="form">
                                    <div class="u-margin-bottom-small">
                                        <h2 class="heading-secondary">
                                            Thanks for letting us know! We look forward to seeing you soon.
                                        </h2>
                                    </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        <div class="popup" id="popup-attendees-list">
            <div class="popup__content">
                <div class="popup__all">
                    <a href="#section-home" class="popup__close">&times;</a>
                       <div style="min-height:30rem;" align="center">
                           <h2 class="heading-secondary">
                               Current Attendees
                           </h2>
                           <table class="popup-list" border="1" width="100%">
							    <tr>
							        <th>Name</th>
							        <th>Guest Name</th>
							        <th>Attending?</th>
							        <th>Email</th>
							        <th>Message</th>
							    </tr>
							    <tr th:each = "attendee: ${attendees}">
							        <td th:text="${attendee.name}"></td>
							        <td th:text="${attendee.guestName}"></td>
							        <td th:text="${attendee.isAttending}"></td>
							        <td th:text="${attendee.email}"></td>
							        <td th:text="${attendee.message}"></td>
							    </tr>
							</table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>