<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="../static/Fragments/head.html :: head">
        <title id="pageTitle">HappiestDay.Com</title>
    </head>


    <body>
    	<div class="navigation" th:include="../static/fragments/navbar.html"></div>
        
        <section class="section-registry" id="section-registry">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                            Our wedding registry
                    </h2>
                </div>
                <div class="row">
                    <div class="col-1-of-3">
                        <div class="card">
                            
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture" style="background-image: url(https://c1.neweggimages.com/NeweggImage/ProductImage/AFSW_1_201802091424519518.jpg)">
                                    
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--1">Espresso Machine</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>We'd like <span>2</span> of these</li>
                                        <li><div>This is how bad we want it</div>
                                            <div class="desire-scale-box" data-progress-percent="25">
                                            <span class="desire-scale-fill" style="width: 70%">
                                                    &nbsp;
                                            </span>
                                        </div></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-1">
                                <div class="card__cta-1">
                                    <a href="#" class="btn btn-white">Buy</a>
                                </div>
                                <div class="card__cta-2">
                                    <a href="#" class="btn btn-primary-light">Mark as bought</a>
                                </div>
                                <div class="card__cta-3">
                                    <a href="#" class="btn btn-primary-dark">Remove from registry</a>
                                </div>
                                <div class="card__cta-4">
                                    <a href="#" class="btn btn-primary-dark">Edit registry</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-of-3">
                        <div class="card">

                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture" style="background-image: url(https://www.swissgear.com/media/catalog/product/s/w/swissgear-7208-24-inch-luggage-blue-spinner-front_1.jpg)">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--2">Swissgear Spinner Luggage</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>We'd like <span>2</span> of these</li>
                                        <li><div>This is how bad we want it</div>
                                            <div class="desire-scale-box" data-progress-percent="25">
                                            <span class="desire-scale-fill" style="width: 70%">
                                                    &nbsp;
                                            </span>
                                        </div></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-2">
                                <div class="card__cta-1">
                                    <a href="#" class="btn btn-white">Buy</a>
                                </div>
                                <div class="card__cta-2">
                                    <a href="#" class="btn btn-primary-light">Mark as bought</a>
                                </div>
                                <div class="card__cta-3">
                                    <a href="#" class="btn btn-primary-dark">Remove from registry</a>
                                </div>
                                <div class="card__cta-4">
                                    <a href="#" class="btn btn-primary-dark">Edit registry</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture" style = "background-image: url(https://www.williams-sonoma.com/wsimgs/rk/images/dp/wcm/201849/0122/all-clad-deluxe-slow-cooker-with-cast-aluminum-insert-4-qt-c.jpg)">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--3">Slow cooker</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>We'd like <span>2</span> of these</li>
                                        <li><div>This is how bad we want it</div>
                                            <div class="desire-scale-box" data-progress-percent="25">
                                            <span class="desire-scale-fill" style="width: 70%">
                                                    &nbsp;
                                            </span>
                                        </div></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-3">
                                <div class="card__cta-1">
                                    <a href="#" class="btn btn-white">Buy</a>
                                </div>
                                <div class="card__cta-2">
                                    <a href="#" class="btn btn-primary-light">Mark as bought</a>
                                </div>
                                <div class="card__cta-3">
                                    <a href="#" class="btn btn-primary-dark">Remove from registry</a>
                                </div>
                                <div class="card__cta-4">
                                    <a href="#" class="btn btn-primary-dark">Edit registry</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-center-text u-margin-bottom-big">
                    <a href="#popup-add" class="btn btn-primary">Add another item</a>
                </div>
                <div class="u-center-text u-margin-bottom-big">
                    <a href="#popup-registry-list" class="btn btn-primary">View list</a>
                </div>
            </section>
            
        <footer class="footer" th:include="../static/Fragments/footer.html"></footer>
        
        <div class="popup" id="popup-add">
            <div class="popup__content">
                <div class="popup__left">
                    <img src="img/weddingpresent2.png" alt="Tour photo" class="popup__img">
                    <img src="img/weddingpresent1.jpg" alt="Tour photo" class="popup__img">
                </div>
                <div class="popup__right">
                    <a href="#section-registry" class="popup__close">&times;</a>
                    <div class="new-item__form">
                        <!-- <form action="#" th:action="@{/registry}" th:object="${registry}" method="post" class="form">
                                <div class="u-margin-bottom-small">
                                    <h2 class="heading-secondary">
                                        Add a new item
                                    </h2>
                                </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Item name" id="name" th:field="*{itemName}" required>
                                <label for="name" class="form__label">Item name</label>
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Link to item" id="url" th:field="*{itemURL}" required>
                                <label for="url" class="form__label">Link to item</label>
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Link to item image" id="image-url" th:field="*{imageURL}" required>
                                <label for="image-url" class="form__label">Link to item image</label>
                            </div>

                            <div class="form__group">
                                <input type="number" class="form__input" placeholder="Quantity required" id="quantity" th:field="*{quanityRequested}" required>
                                <label for="quantity" class="form__label">Quantity required</label>
                            </div>

                            <div class="form__group">
                                <input type="number" class="form__input" placeholder="Desire scale" id="desire" th:field="*{desireScale}" required>
                                <label for="desire" class="form__label">Desire scale (1- 5)</label>
                            </div>
    
                            <div class="form__group">
                                    <a href="#" class="btn btn-primary">Add item</a>
                            </div>

                            
                        </form> -->
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="popup" id="popup-registry-list">
            <div class="popup__content">
                <div class="popup__all">
                    <a href="#section-home" class="popup__close">&times;</a>
                    <div class="new-item__form">
                        <form action="#" class="form">
                                <div class="u-margin-bottom-small">
                                    <h2 class="heading-secondary">
                                        Current Registry Items
                                    </h2>
                                    <table>
									    <tr>
									        <th>Item Name</th>
									        <th>Item Url</th>
									        <th>Item Image</th>
									        <th>How many Requested</th>
									        <th>How many Purchased</th>
									        <th>Desire</th>
									    </tr>
									    <tr th:each = "registryItem: ${registryItems}">
									        <td th:text="${registryItem.itemName}"></td>
									        <td th:text="${registryItem.itemURL}"></td>
									        <td th:text="${registryItem.imageURL}"></td>
									        <td th:text="${registryItem.quantityRequested}"></td>
									        <td th:text="${registryItem.quantityPurchased}"></td>
									        <td th:text="${registryItem.desireScale}"></td>
									    </tr>
									</table>
                                </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>